/*RESET CSS BEGIN*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Raleway", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/*RESET CSS END*/

/*HELPER CLASS BEGIN*/

.alignLeft {
  float: left;
}

.alignRight {
  float: right;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

strong,
b {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

p,
ul li,
ol li {
  font-size: 16px;
  line-height: 23px;
  margin: 0 0 20px 0;
}

ul li,
ol li {
  margin-bottom: 5px;
}

/*HELPER CLASS END*/

* {
  box-sizing: border-box;
  outline: 0;
}

/* Start style navbar  */
.navbarGrace {
  padding: 15px 0;
}
.navbarGrace .bg-light {
  background-color: transparent !important;
}
.navbarGrace .nav-actions li a {
  color: #000000 !important;
  font-size: 18px;
  font-weight: 700;
}
.navbarGrace .nav-actions .actionBtn {
  color: #12407e !important;
  background-color: #f2f3f5;
  margin-right: 5px;
  border-radius: 40px;
  padding: 0px 10px;
  text-transform: uppercase;
  font-weight: bold;
}
.navbarGrace .nav-actions .actionBtn a {
  color: #12407e !important;
}
.navbarGrace .nav-links li a {
  color: #000000 !important;
  text-transform: uppercase;
}
.navbarGrace .nav-actions li:last-child {
  background-color: #12407e;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.navbarGrace .nav-actions li:last-child img {
  margin-top: 4px;
}

/* Start Style slider  */
.sliderGrace {
  text-align: center;
}
.sliderGrace .carousel-caption {
  background-color: #12407e;
  transform: translateX(124%);
  z-index: 999;
  width: 20%;
  bottom: 50px;
  border-radius: 5px;
  padding: 40px 0;
}
.sliderGrace .carousel-caption h5 {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.3;
}
.sliderGrace .carousel-caption p {
  margin: 30px 0;
  font-size: 20px;
}
.sliderGrace .carousel-caption button {
  background-color: #dba68f;
  border: none;
  border-radius: 30px;
  padding: 10px 30px;
  cursor: pointer;
  color: #ffffff;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
}
.carousel-indicators li.active {
  background-color: transparent;
  border: 1px solid #12407e;
}
.carousel-control-prev,
.carousel-control-next {
  width: auto;
  bottom: 100px;
  top: auto;
  background-color: #ffffff;
  padding: 15px 12px;
  opacity: 1;
  border-radius: 50%;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #eeeeee;
}
.carousel-control-prev {
  right: 25%;
  left: auto;
  bottom: 102px;
}
.carousel-control-next {
  right: 17%;
  padding: 20px 17px;
}
.carousel-control-prev-icon {
  width: 31px;
  background-size: auto;
  background: initial;
  background-image: url("../images/Left arrow.png");
}
.carousel-control-next-icon {
  width: 31px;

  background-size: auto;
  background: initial;
  background-image: url("../images/Right arrow.png");
}

/* Start products section  */
.shuffleCategory {
  background: #f2f3f5;
}
.shuffleCategory .price,
.shuffleCategory .brands,
.shuffleCategory .colors {
  border: 1px solid #eeeeee;
  border-radius: 7px;
  margin-bottom: 20px;
  padding: 0px 20px;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px #eeeeee;
  overflow: hidden;
}
.shuffleCategory .price > p,
.shuffleCategory .brands > p,
.shuffleCategory .colors > p {
  margin: 0;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 600;
}
.shuffleCategory .price .ranges {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.shuffleCategory .price .ranges > div:not(:nth-child(2)) {
  padding: 7px 30px;
  border: 1px solid #eeeeee;
  border-radius: 50px;
  color: black;
  font-weight: bold;
}
.shuffleCategory .price .ranges > div:nth-child(2) {
  margin: 0px 5px;
  font-size: 30px;
}
.shuffleCategory .price input {
  margin-bottom: 20px;
  width: 100%;
}
.shuffleCategory .brands p a {
  color: #666666;
  text-decoration: none;
}
.shuffleCategory .product-content {
  background-color: #ffffff;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #eeeeee;
}
.shuffleCategory .product-content.bl-product-content {
  background-color: #000000;
}
.shuffleCategory .product-content.bl-product-content img {
  width: 200px;
}
.shuffleCategory .product-content.bl-product-content h5 {
  color: #ffffff;
}
.shuffleCategory
  .product-content.bl-product-content
  .best-seller-content
  div
  p:first-child {
  color: #dba68f;
  font-weight: 600;
}
.shuffleCategory
  .product-content.bl-product-content
  .best-seller-content
  div
  button {
  background-color: #dba68f;
  color: #ffffff;
  font-weight: bold;
}

.shuffleCategory .product-content.bl-product-content .best-seller-content {
  display: flex;
}
.shuffleCategory .product-content button {
  border: 2px solid #000000;
  border-radius: 20px;
  color: #000000;
  padding: 10px 30px;
  background-color: #ffffff;
}
.shuffleCategory .product-content img {
  height: 200px;
}
.shuffleCategory .product-content h5 {
  color: #000000;
  font-size: 20px;
  margin: 15px 0;
  font-weight: bold;
}
.shuffleCategory .product-content p {
  color: #aaaaaa;
}
.shuffleCategory .row .row > div {
  margin-bottom: 20px;
}
.shuffleCategory h1 {
  padding: 70px 0;
  font-size: 40px;
  font-weight: bold;
}
.shuffleCategory .product-content .new-badge {
  position: absolute;
  top: 10px;
  left: 25px;
  background-color: #12407e;
  color: #ffffff;
  padding: 5px 10px;
  font-weight: 600;
  border-radius: 30px;
}
.shuffleCategory .colors .row > div > div {
  width: 30px;
  height: 30px;
  background-color: #f00;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shuffleCategory .colors .row > div > div span {
  display: none;
}
.shuffleCategory .colors .row > div > div.active span {
  display: inline;
  color: #ffffff;
}
.shuffleCategory .colors .row > div > div.col1 {
  background-color: #b8bbc3;
}
.shuffleCategory .colors .row > div > div.col2 {
  background-color: #2c2c30;
}
.shuffleCategory .colors .row > div > div.col3 {
  background-color: #8f835b;
}
.shuffleCategory .colors .row > div > div.col4 {
  background-color: #2c5790;
}
.shuffleCategory .colors .row > div > div.col5 {
  background-color: #ebd74f;
}
.shuffleCategory .colors .row > div > div.col6 {
  background-color: #b58567;
}
.shuffleCategory .colors .row > div > div.col7 {
  background-color: #f9bd8d;
}
.shuffleCategory .colors .row > div > div.col8 {
  background-color: #8e8e8e;
}
.shuffleCategory .colors .row > div > div.col9 {
  background-color: #5fcdb2;
}
.shuffleCategory .colors .row > div > div.col10 {
  background-color: #a02a24;
}
.shuffleCategory .pagi-grace {
  padding: 0px 15px;
}
.shuffleCategory .pagination-grace {
  background-color: #ffffff;
  margin-bottom: 10px;
  padding-top: 20px;
  border-radius: 5px;
}

.shuffleCategory .pagination-grace .prev-arrow a,
.shuffleCategory .pagination-grace .next-arrow a {
  display: flex;
  align-items: center;
  color: #12407e;
}
.shuffleCategory .pagination-grace .prev-arrow a img,
.shuffleCategory .pagination-grace .next-arrow a img {
  margin: 7px;
}
.shuffleCategory .pagination-grace .m-auto {
  padding: 0;
  margin: 0 !important;
  margin-top: 10px !important;
}
.shuffleCategory .pagination-grace .numbers-pag a {
  color: #b8bbc3;
  text-decoration: none;
  margin-right: 7px;
}
.shuffleCategory .pagination-grace .numbers-pag a.active {
  color: #ffffff;
  background: #8f835b;
  padding: 3px 8px;
  border-radius: 50%;
}

footer {
  padding-top: 20px;
}
footer .container .row {
  margin-bottom: 20px;
}
footer ul {
  list-style: none;
  display: flex;
}
footer ul li {
  margin-right: 10px;
  margin-top: -3px;
}
footer ul li a {
  text-decoration: none;
  color: #000000;
}
footer span {
  font-size: 20px;
  color: #8c9199;
}
footer ul li a:hover {
  color: #000000;
  text-decoration: none;
}
footer .tags li a {
  color: #8c9199;
}

/* login page style  */

.loginGrace {
  text-align: center;
  padding: 30px 0 30px 0;
  width: 350px;
  margin: auto;
  border: 1px solid #dddddd;
  margin-top: 50px;
  margin-bottom: 40px;
}
.registerGrace {
  width: auto;
  max-width: 70% !important;
  margin-top: 20px;
}
.loginGrace h1 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}
.bt-divider {
  height: 2px;
  width: 100px;
  background-color: #12407e;
  margin: auto;
  margin-bottom: 20px;
}
.loginGrace h4 {
  font-size: 18px;
  margin-bottom: 20px;
}
.loginGrace a {
  text-decoration: none;
  color: #000000;
  font-size: 17px;
}
.loginGrace button,
.loginGrace .reg {
  background-color: #12407e;
  margin-top: 20px;
  color: #ffffff;
}
.registerGrace button {
  width: 40%;
}
.loginGrace .reg {
  margin-top: 0;
}
.registerGrace .reg {
  width: 30%;
}
.loginGrace input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #12407e;
}
.registerGrace input {
  border: 1.4px solid #12407e;
  border-radius: 5px;
}

.mainAdmin a {
  background-color: #12407e;
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 5px;
}

/* f2f3f5  Button BG */
/* 12407e  Cart Icon BG And Button Color */

/* Start style product page  */
.product-image img {
  width: 100%;
}
.product-page .product-image {
  border: 1px solid #eeeeee;
  text-align: center;
  box-shadow: 4px 4px 5px #eeeeee;
  width: 100%;
}
.product-page .product-details h1 {
  font-size: 3rem;
  font-weight: 500;
}
.product-page .product-details .desc,
.product-page .product-details .provider {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
}
.product-page .product-details .price {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 30px 0;
}
.product-page .product-details a {
  color: #ffffff;
  background-color: #666666;
  border-radius: 3px;
  padding: 10px 20px;
  text-decoration: none;
}
.product-page i {
  color: #aaaaaa;
}
.product-page i.active {
  color: rgb(255, 255, 14);
}
