<div class="col-lg-4">
    <div class="product-content">
        <div class="new-badge">
            <span>New</span>
        </div>
        <img src="<%= products[i].image %>" alt="Product">
        <h5>
            <%= products[i].name %>
        </h5>
        <p>$<%= products[i].price %>
        </p>
        <a href="/product/<%= products[i]._id %>">Buy Now</a>
    </div>
</div>