<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <img src="../images/Logo.png" alt="">
      </div>
      <div class="col-lg-9">
        <ul>
          <li><a href="">Men</a></li>
          <li><a href="">Women</a></li>
          <li><a href="">Kids</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <span>&copy; 2021</span>
      </div>
      <div class="col-lg-9">
        <ul class="tags">
          <li><a href="">About</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Contact</a></li>
          <li><a href="">Delivery and return</a></li>
          <li><a href="">Newsletter</a></li>
          <li><a href="">Terms and condition</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../scripts/custome.js"></script>
</body>

</html>